!!----X.Resources


!!----General Configurations
! foreground: text, color10: user prompt

#define tint #434E6B

*.foreground:   #e0e2e9
*.background:   #000000
*.cursorColor:  #e0e2e9

! black
*.color0:       #000000
*.color8:       #8ba3da

! red
*.color1:       #0e1017
*.color9:       #7c8eb9

! green
*.color2:       #1f232d
*.color10:      #b15ea7

! yellow
*.color3:       #363c4b
*.color11:      #a19355

! blue
*.color4:       #535b71
*.color12:      #80bf8c

! magenta
*.color5:       #77829f
*.color13:      #679a71

! cyan
*.color6:       #a8afc3
*.color14:      #d86660

! white
*.color7:       #e0e2e9
*.color15:      #91a0c8




!! i3




!!----RXVT-UNICODE Configurations
URxvt.font: xft:Ubuntu Mono:size=16
!URxvt.font: xft:Hack:style=Regular:size=13

URxvt*scrollBar: false
URxvt*letterSpace: -2
URxvt*cursorBlink: true
URxvt*saveLines: 20000
URxvt*internalBorder: 10

! Transparency
URxvt*transparent: true
URxvt*tintColor: tint


!--resize fonts
URxvt.keysym.C-minus:     resize-font:smaller
URxvt.keysym.C-plus:      resize-font:bigger
URxvt.keysym.C-equal:     resize-font:reset
URxvt.keysym.C-question:  resize-font:show

!--extensions
urxvt.perl-ext-common: resize-font
