


!PaperColor Theme
*foreground: #FFFFFF
*background: #222224
#define tint #222224
! black
*color0: #EDEDED
*color8: #969694
! red
*color1: #D7005F
*color9: #D7005F
! green
*color2: #718C00
*color10: #718C00
! yellow / orange
*color3: #D75F00
*color11: #D75F00
! blue
*color4: #4271AE
*color12: #4271AE
! magenta
*color5: #8959A8
*color13: #8959A8
! cyan
*color6: #3E999F
*color14: #3E999F
! white
*color7: #4D4D4C
*color15: #F5F5F5









!!----RXVT-UNICODE Configurations
!URxvt.font: xft:Hack:style=Regular:size=14
URxvt.font: xft:Inconsolata:style=Regular:size=15
!URxvt.font: xft:DejavuSansMono:pixelsize=15


URxvt*scrollBar: false
URxvt*letterSpace: -1
URxvt*cursorBlink: true
URxvt*cursorColor: #FF0000
URxvt*cursorUnderline: true
URxvt*saveLines: 20000
URxvt*internalBorder: 5

! Transparency
URxvt*transparent: true
URxvt*tintColor: tint
!URxvt*depth: 32
!URxvt.background: [95]tint


!--resize fonts
URxvt.keysym.C-minus:     resize-font:smaller
URxvt.keysym.C-plus:      resize-font:bigger
URxvt.keysym.C-equal:     resize-font:reset
URxvt.keysym.C-question:  resize-font:show

!--extensions
urxvt.perl-ext-common: resize-font
