!--------------!
! URXVT CONFIG !
!--------------!

URxvt.internalBorder:	30
URxvt.scrollBar:	false
URxvt.letterSpace:	-1
URxvt.cursorColor:	#718C00
URxvt*cursorUnderline: false
URxvt.font: xft:Hack:size=13, xft:Font Awesome 5 Free Solid:size=13
!! Larger history limit
urxvt.saveLines: 1000000

!! Perl extensions
urxvt.perl-ext-common: resize-font
!! Change font size on Control-Plus/Minus
URxvt.keysym.C-minus:     resize-font:smaller
URxvt.keysym.C-plus:      resize-font:bigger
URxvt.keysym.C-equal:     resize-font:reset
URxvt.keysym.C-question:  resize-font:show

! ------------------------------------------------------------------------------
! theme colors: prmsrswt/dotfiles
! ------------------------------------------------------------------------------
*.foreground:   #d3d0c8
*.background:   #2d2d2d
*.cursorColor:  #d3d0c8

! black
*.color0:       #2d2d2d
*.color8:       #747369

! red
*.color1:       #f2777a
*.color9:       #f2777a

! green
*.color2:       #99cc99
*.color10:      #99cc99

! yellow
*.color3:       #ffcc66
*.color11:      #ffcc66

! blue
*.color4:       #6699cc
*.color12:      #6699cc

! magenta
*.color5:       #cc99cc
*.color13:      #cc99cc

! cyan
*.color6:       #66cccc
*.color14:      #66cccc

! white
*.color7:       #d3d0c8
*.color15:      #f2f0ec
